In [2]:
import pandas as pd 
import numpy as np

In [46]:
data_frame = pd.read_csv("mnist_test.csv")

In [6]:
print(data_frame.head(5))

   label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
0      7    0    0    0    0    0    0    0    0    0  ...      0      0
1      2    0    0    0    0    0    0    0    0    0  ...      0      0
2      1    0    0    0    0    0    0    0    0    0  ...      0      0
3      0    0    0    0    0    0    0    0    0    0  ...      0      0
4      4    0    0    0    0    0    0    0    0    0  ...      0      0

   28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0      0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [7]:
data_frame.tail(5)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
9995,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 785 entries, label to 28x28
dtypes: int64(785)
memory usage: 59.9 MB

In [47]:
data_frame.shape

(10005, 785)

In [12]:
data_frame.columns

Index(['label', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9',
       ...
       '28x19', '28x20', '28x21', '28x22', '28x23', '28x24', '28x25', '28x26',
       '28x27', '28x28'],
      dtype='object', length=785)

In [13]:
data_frame.columns[1:10]

Index(['1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9'], dtype='object')

In [14]:
data_frame.dtypes

label    int64
1x1      int64
1x2      int64
1x3      int64
1x4      int64
         ...
28x24    int64
28x25    int64
28x26    int64
28x27    int64
28x28    int64
Length: 785, dtype: object

In [15]:
# Provides summary statistics for numeric columns.
data_frame.describe()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,10000.000000,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,...,10000.000000,10000.000000,10000.000000,10000.0000,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0
mean,4.443400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.179300,0.163600,0.052600,0.0006,0.0,0.0,0.0,0.0,0.0,0.0
std,2.895865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.674149,5.736072,2.420004,0.0600,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,253.000000,156.000000,6.0000,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
data_frame.sample(10)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
5412,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8956,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3478,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8853,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7251,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8103,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7019,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1811,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8941,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Selecting And Filtering Data

In [21]:
data_frame.loc[0]

label    7
1x1      0
1x2      0
1x3      0
1x4      0
        ..
28x24    0
28x25    0
28x26    0
28x27    0
28x28    0
Name: 0, Length: 785, dtype: int64

In [22]:
data_frame.iloc[1:]

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
data_frame[['2x14']]

      2x14
0        0
1        0
2        0
3        0
4        0
...    ...
9995     0
9996     0
9997     0
9998     0
9999     0

[10000 rows x 1 columns]

In [26]:
# Multiple columns 
data_frame[['24x28', '1x1']]

      24x28  1x1
0         0    0
1         0    0
2         0    0
3         0    0
4         0    0
...     ...  ...
9995      0    0
9996      0    0
9997      0    0
9998      0    0
9999      0    0

[10000 rows x 2 columns]

Handling Missing Data

In [39]:
data_frame.dropna()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,[None],0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
data_frame.fillna("NULL")

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,[None],0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
print(data_frame)

# print(data_frame.drop_duplicates())

       label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
0          7    0    0    0    0    0    0    0    0    0  ...      0      0
1          2    0    0    0    0    0    0    0    0    0  ...      0      0
2          1    0    0    0    0    0    0    0    0    0  ...      0      0
3          0    0    0    0    0    0    0    0    0    0  ...      0      0
4          4    0    0    0    0    0    0    0    0    0  ...      0      0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
10000      2    0    0    0    0    0    0    0    0    0  ...      0      0
10001      3    0    0    0    0    0    0    0    0    0  ...      0      0
10002      4    0    0    0    0    0    0    0    0    0  ...      0      0
10003      5    0    0    0    0    0    0    0    0    0  ...      0      0
10004      6    0    0    0    0    0    0    0    0    0  ...      0      0

       28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0          0      0      0      0      0      0      0      0
1          0      0      0      0      0      0      0      0
2          0      0      0      0      0      0      0      0
3          0      0      0      0      0      0      0      0
4          0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...
10000      0      0      0      0      0      0      0      0
10001      0      0      0      0      0      0      0      0
10002      0      0      0      0      0      0      0      0
10003      0      0      0      0      0      0      0      0
10004      0      0      0      0      0      0      0      0

[10005 rows x 785 columns]

In [49]:
data_frame.drop_duplicates()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10000,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10001,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10004,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0